@model HW1BirthdayCardGenerator.Models.CardGenerator

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>


    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h2>Invite Family and Friends to your Birthday.</h2>
       
     

        <div class="btn btn-success">
            <a href="/home/InviteForm">Invite Now</a>
        </div>

    </div>
</body>
</html>